In [2]:
import os
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

## ucitavanje

In [3]:
directory = "facebook/facebook"  

all_feat_names = set()

for filename in os.listdir(directory):
    if filename.endswith(".featnames"):
        ego_id = int(filename.split('.')[0])
        feat_names_file = os.path.join(directory, f"{ego_id}.featnames")
        with open(feat_names_file, 'r') as file:
            feat_names = [line.strip() for line in file]
            all_feat_names.update(feat_names)

ordered_feat_names = sorted(all_feat_names)

In [12]:
node_data = pd.DataFrame(index=list(range(4040)), columns=ordered_feat_names).fillna(0)

for filename in os.listdir(directory):
    if filename.endswith(".feat"):
        i += 1
        ego_id = int(filename.split('.')[0])
        feats_file = os.path.join(directory, filename)
        featnames_file = os.path.join(directory, f"{ego_id}.featnames")

        # Učitaj nazive atributa
        with open(featnames_file, 'r') as file:
            feat_names = [line.strip() for line in file]

        feats = pd.read_csv(feats_file, sep=' ', header=None)
        for _, row in feats.iterrows():
            node_id = int(row[0])
            attributes = row[1:].values
            for i, name in enumerate(feat_names):
                if name in ordered_feat_names:
                    node_data.loc[node_id, name] = attributes[i]
                    
  
        egofeat_file = os.path.join(directory, f"{ego_id}.egofeat")
        egofeats = pd.read_csv(egofeat_file, sep=' ', header=None)
        for _, row in egofeats.iterrows():
            attributes = row[:].values
            for i, name in enumerate(feat_names):
                if name in ordered_feat_names:
                    node_data.loc[ego_id, name] = attributes[i]

/var/folders/qk/20038v213xqdyl7bkp4fcs_h0000gn/T/ipykernel_1490/2687710134.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  node_data = pd.DataFrame(index=list(range(4040)), columns=ordered_feat_names).fillna(0)

In [13]:
node_data.head()

,0 birthday;anonymized feature 0,0 birthday;anonymized feature 1003,0 birthday;anonymized feature 1172,0 birthday;anonymized feature 2,0 birthday;anonymized feature 206,0 birthday;anonymized feature 208,0 birthday;anonymized feature 209,0 birthday;anonymized feature 376,0 birthday;anonymized feature 6,0 birthday;anonymized feature 729,...,98 languages;id;anonymized feature 98,98 last_name;anonymized feature 269,98 work;position;id;anonymized feature 301,99 education;school;id;anonymized feature 445,99 education;school;id;anonymized feature 52,99 education;school;id;anonymized feature 787,99 education;year;id;anonymized feature 67,99 languages;id;anonymized feature 99,99 last_name;anonymized feature 270,99 work;position;id;anonymized feature 333
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Sačuvaj DataFrame u CSV fajl
node_data.to_csv("node_data.csv", index=True)